.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#f4f1ea;
    box-shadow:var(--box-shadow);
    padding:1.5rem 9%;
    position:fixed;
    top:0;
    left:0;
    right:0;
}

.navbar_logo,
.nav_menu,
.nav_login_cart{
    display:flex;
    align-items:center;
    gap:1rem;
    cursor: pointer;
}

.nav_login_cart button{
    margin-right:3rem;
}

.nav_login_cart button a{
    color:var(--black);
    font-size:2rem;
}

.navbar_logo p{
    font-size:3rem;
    font-weight:700;
}

.navbar_logo p span{
    font-size:5rem;
    color:var(--red);
}

.nav_menu{
    gap:3rem;
}

.nav_menu li a{
    font-size:1.8rem;
    font-weight:400;
    color:var(--black);
    position:relative;
}

.nav_menu li a::after{
    content: '';
    position:absolute;
    left:0;
    width:0;
    display:block;
    height:.25rem;
    background:var(--red);
    transition: width 0.3s ease;
}

.nav_menu li a:hover::after{
    left:0;
    width:100%;
}

.nav_menu li.activeLink{
    background:var(--red);
    color:#fff;
    padding:.3rem .5rem;
    border-radius:var(--border-radius);
}

.nav_login_cart button{
    border-radius:3rem;
    border:.1rem solid var(--black);
    padding:.6rem 3rem;
    cursor: pointer;
}

.nav_login_cart button:active{
   background: #dddfe4;
}

.nav_cart_count{
    font-size:1.5rem;
    background:var(--red);
    width:2rem;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    color:#fff;
    margin-top:-3.5rem;
    margin-left:-2rem;
}
