.popular_items{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:2rem;
    margin-top:1rem;
}

.popular_container h1{
    text-align:center;
}

.popular_container{
    text-align:center;
}
.popular_container hr{
    width:20rem;
    height:.3rem;
    background:var(--black);
    margin:0 auto;
}

