
.new_Collection{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:2rem;
    margin-top:1rem;
}

.new_collections h1{
    text-align:center;
}

.new_collections hr{
    width:20rem;
    height:.3rem;
    background:var(--black);
    margin:0 auto;
}

